body {
    font-size: 0.9rem;
}

.fs-64 { font-size: 64px; }

.wh-100 { width: 100px; height: 100px; }

.bg-main-light { background-color: #cfe2ff; }
.bg-footer { background-color: #052c65; }
.bg-product-gray { background-color: #e9ecef; }
.bg-product-detail { background-color: #ebf2ff; }

.card-product { border-bottom-width: 2px; }
.card-product:hover { border-bottom-color: #0dcaf0; }

.icon-size-2x { font-size: 2rem; }

.th-1{ line-height: 1rem; }
.text-small { font-size: 0.9em; }

.pointer { cursor: pointer; }
